#banner {display: none;}
footer p {display: none;}

footer:after{
    content: 'Created by Pavlin Edrev on GitHub Pages.';
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
